.social-media {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.social-media h2 {
  margin-bottom: 10px;
  color: white;
  font-family: "Space Mono", monospace;
}

.socials-container {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.social-icon {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1);
  color: rgba(255, 255, 255, 0.8);
  text-decoration: none;
  transition: background-color 0.3s;
}

.social-icon:hover {
  background-color: rgba(255, 255, 255, 0.3);
  color: white;
}

.social-icon i {
  font-size: 24px;
}
