#root {
  max-width: 1280px;
  margin: 0 auto;
  text-align: center;
  padding: 20px;
}

@media (max-width: 768px) {
  #root {
    padding: 10px;
  }

  h2 {
    font-size: 1.5rem;
  }

  h3 {
    font-size: 1.2rem;
  }

  ul {
    padding: 0;
    list-style: none;
  }

  li {
    font-size: 1rem;
    margin-bottom: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
  }

  img.avatar {
    width: 120px;
    height: 120px;
  }
}
